<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Walter: Cyborg (Pidro)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/style.css" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Walter: Cyborg (Pidro)</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <!-- Navbar content -->
        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Bootstrap Cyborg Theme</h1>
            <p class="lead">Mi sembrava il piu appropriato!
                <a href="http://bootswatch.com/cyborg/" class="btn btn-primary">Link</a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="jumbotron">
              <h3>Muovi il robot utilizzando le frecce della tastiera!</h3>
              <br />
              <div class="container">
                  <div class="row">
                      <div class="col-md-7"></div>
                      <div class="col-md-1 arrow-container"></div>
                      <div class="col-md-1 arrow-container">
                          <button class="btn btn-lg btn-default disabled arrow"
                                  data-arrow="38">
                            <i class="glyphicon glyphicon-arrow-up"></i>
                          </button>
                      </div>
                      <div class="col-md-1 arrow-container"></div>
                  </div>
                  <div class="row">
                      <div class="col-md-7"></div>
                      <div class="col-md-1 arrow-container">
                          <button class="btn btn-lg btn-default disabled arrow"
                                  data-arrow="37">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                          </button>
                      </div>
                      <div class="col-md-1 arrow-container">
                          <button class="btn btn-lg btn-default disabled arrow"
                                  data-arrow="40">
                            <i class="glyphicon glyphicon-arrow-down"></i>
                          </button>
                      </div>
                      <div class="col-md-1 arrow-container">
                          <button class="btn btn-lg btn-default disabled arrow"
                                  data-arrow="39">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/keyboard.js"></script>
    <!--script src="/js/bootswatch.js"></script-->
  </body>
</html>